*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}

/* Variaveis para CSS */
:root{
    --white          : #fff;
    --background     : #f2f3f5;
    --gray-line      : #DCDDE0;
    --text           : #5c5c5c;
    --text-highlight : #b3b9ff;
    --title          : #2E384D;
    --red            : #e83f5b;
    --green          : #4CD62F;
    --blue           : #5965E0;
    --blue-dark      : #4953b8;
    --blue-twitter   : #2aa9E0;
}

body { 
    background-color: var(--background);
    color: var(text);
}

@media(max-width : 1080px){
    html{
        font-size : 93.75%;
    }
}
@media(max-width: 720px){
    html{
        font-size: 87.5%;
    }
}

/* usar rem ao ives de px fica masi responsivel */
body, input, textarea, button{
    font : 400 1rem "Inter" sans-serif;
}

button{
    cursor: pointer;
}

a{
    text-decoration: none;
     color : inherit; /* Vai pegar do component pai */
}
