.container{
    height : 100vh;
    max-width: 1202px;
    margin : 0 auto;
    padding : 2.5rem 2rem;
    display : grid;
    grid-template-columns: .3fr 1.7fr;
    gap : 5rem;
}
.container > header {
    margin-bottom: 5%;
}
.sidebar{
    display : flex;
    height : 100vh;
}
.container section{
    flex: 1;
    display : grid;
    margin-top: 4rem;
    grid-template-columns: 1fr 1fr;
    gap : 6.25rem;
    align-content: flex-end;
}

@media(max-width : 720px){
    .container {
        padding: .5rem;
        gap : 2rem;
    }
    .container section{
        display : flex;
        flex-direction: column;
        justify-content: center;      
    }
}